name: CI/CD Pipeline

on:
  push:
    branches: [main, master, develop, feat/**]
    tags:
      - "v*.*.*"
  pull_request:
    branches: [main, master, develop]

jobs:
  test_and_sonar:
    name: Test & SonarCloud
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: |
          if [ -f package.json ] && jq -e '.scripts.test' package.json > /dev/null 2>&1; then
            npm test
          else
            echo "Nenhum script de teste definido, pulando etapa de testes."
          fi

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: test_and_sonar
    # Só faz build de imagem em tags de release (ex: v1.2.3)
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: lucasconsani
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          # TAG_NAME será algo como v1.2.3
          TAG_NAME="${GITHUB_REF##*/}"
          # remove o "v" para usar só a versão numérica
          VERSION=${TAG_NAME#v}
          echo "version_tag=$VERSION" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            lucasconsani/festmedeiros-api-sast:latest
            lucasconsani/festmedeiros-api-sast:${{ steps.vars.outputs.version_tag }}
